@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Pizzaria</h1>
    <p>Sistema Web de Pizzaria ASP.NET Core</p>

    <img src="~/imagem/foto.png" style="width=50%;"/>
</div>
